{% include 'header.html' %}

    <!--Front Two Column-->
    <div class="container-fluid" style="background-color: rgb(255,227,225); background: radial-gradient(#fff,#ffd6d6);">
        <div class="container">
            <div class="row c_1">
                <div class="col-12 col-md-6">
                    <img src="/static/images/image1.png" class="img-fluid d-block img_6">
                </div>
                <div class="col-12 col-md-6 my-auto form_container">
                    <div class="containers">
                        <div class="d-flex justify-content-center h-100">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Sign In</h3>
                                    <div class="d-flex justify-content-end social_icon">
                                        <span><a href="https://www.facebook.com" class="text-decoration-none text-warning"><i class="fab fa-facebook-square"></i></a></span>
                                        <span><a href="https://myaccount.google.com" class="text-decoration-none text-warning"><i class="fab fa-google-plus-square"></i></a></span>
                                        <span><a href="https://www.twitter.com" class="text-decoration-none text-warning"><i class="fab fa-twitter-square"></i></a></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="username">
                                            
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="password">
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                            </div>
                                            <input type="email" class="form-control" placeholder="email-id">
                                        </div>
                                        <div class="row align-items-center remember">
                                            <input type="checkbox"><span class="remember_me">Remember Me</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Login" class="btn float-right login_btn" style="position: relative; bottom: 28px;">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-center links">
                                        Don't have an account?<a href="/next/signup/">Sign Up</a>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="#">Forgot your password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="card">
                <div class="card-body text-center modals bg-white">
                    <i class="fas fa-quote-left fa-2x mb-3"></i>
                    <p class="text-muted">I am currently pursuing my Bachelor of Technology in Computer Science and looking for carrer in the field of Computer Science and Technology. I mostly work as a front end web developer well known on HTML5, CSS3, Bootstrap and JavaScript languages.</p>
                    <i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mb-4"></i>
                    <img src="/static/images/bhargav.jpg" class="img-fluid d-block mx-auto w-25 mb-1">
                    <p class="font-weight-bold text-dark">Bhargav Sonagara</p>
                </div>
            </div>
		</div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="google_play" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sorry...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Our Team Working On It.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!--Footer-->
    <footer style="background-color: rgb(1,0,1);">
        <div class="container pt-5" style="padding-bottom: 16px;">
            <div class="row c_6">
                <div class="col-12 col-sm-3 text-white">
                    <h4 class="mb-4">Download Our App</h4>
                    <p class="text-muted mb-4">Download App for Android and ios mobile phone.</p>
                    <div class="row c_9">
                        <div class="col-6 col-sm-6">
                            <a href="#google_play" data-toggle="modal" class="text-decoration-none"><img src="/static/images/play-store.png" class="img-fluid d-block"></a>
                        </div>
                        <div class="col-6 col-sm-6">
                            <a href="#google_play" data-toggle="modal" class="text-decoration-none"><img src="/static/images/app-store.png" class="img-fluid d-block img_5"></a>
                        </div>
                    </div>      
                </div>
                <div class="col-12 col-sm-3 text-white text-center c_10">
                    <h1 class="footer-brand mb-4"><a href="/next/index/" class="text-decoration-none text-white" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><i class="fab fa-bootstrap mr-2"></i><span class="b_2">BHAR</span><span class="b_2">GAV'S</span></a></h1>
                    <p class="text-muted mb-4">our Purpose is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="col-12 col-sm-3 text-white text-center">
                    <h4 class="mb-4">Useful Links</h4>
                    <p class="c_11">
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Coupons</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Blog Post</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Return Policy</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Join Affiliate</a>
                    </p>
                </div>
                <div class="col-12 col-sm-3 text-white text-center">
                    <h4 class="mb-4">Follow Us</h4>
                    <p class="c_11">
                        <a href="https://www.facebook.com/bhargav.sonagra" class="text-decoration-none text-muted">Facebook</a><br>
                        <a href="https://twitter.com/BhargavSonagar2" class="text-decoration-none text-muted">Twitter</a><br>
                        <a href="https://www.instagram.com/sonagara_bhargav/" class="text-decoration-none text-muted">Instagram</a><br>
                        <a href="https://www.youtube.com/channel/UC-rA33_DgEXdazJMwTIPaSw" class="text-decoration-none text-muted">Youtube</a><br>
                        <a href="https://www.linkedin.com/in/bhargavsonagara/" class="text-decoration-none text-muted">Linkedin</a>
                    </p>
                </div>
            </div>
            <hr class="hr_2">
            <p class="text-center text-muted p_1 pb-1" style="margin-bottom: -8px">Copyright &copy; 2020 - Designed and Developed by <a href="index.html" class="text-decoration-none text-muted">BHARGAV'S</a></p>
        </div>
    </footer>


    <!--jquery Script Link-->
    <script src="/static/js/jquery-3.5.1.js"></script>
    
    <!--Popper Script Link-->
    <script src="/static/js/popper.js"></script>
    
    <!--Bootstrap JS Script Link-->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html> 