{% include 'header.html' %}
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/bhargav.jpg" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">sonagara_bhargav</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-2.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">Jayesh123</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-1.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">Sean_parker</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-3.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">mabel_official</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/category-3.jpg" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">nehajethwani529</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/bhargav.jpg" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">sonagara_bhargav</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-2.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">Jayesh123</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-1.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">Sean_parker</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/user-3.png" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">mabel_official</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 text-center">
                <img src="/static/images/category-3.jpg" class="img-fluid rounded-circle w-25">
            </div>
            <div class="col-4 text-center my-auto">
                <h3 class="text-muted d-inline-block" style="cursor: pointer;">nehajethwani529</h3><span style="position: relative; top: -12px; font-size:25px;"> .</span>
                <span class="text-primary" style="position: relative; top: -10px; cursor: pointer;">Remove</span>
            </div>
            <div class="col-4 text-center my-auto">
                <button class="btn btn-outline-dark" id="follow">Follow</button>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer style="background-color: rgb(1,0,1);">
        <div class="container pt-5" style="padding-bottom: 16px;">
            <div class="row c_6">
                <div class="col-12 col-sm-3 text-white">
                    <h4 class="mb-4">Download Our App</h4>
                    <p class="text-muted mb-4">Download App for Android and ios mobile phone.</p>
                    <div class="row c_9">
                        <div class="col-6 col-sm-6">
                            <a href="#google_play" data-toggle="modal" class="text-decoration-none"><img src="/static/images/play-store.png" class="img-fluid d-block"></a>
                        </div>
                        <div class="col-6 col-sm-6">
                            <a href="#google_play" data-toggle="modal" class="text-decoration-none"><img src="/static/images/app-store.png" class="img-fluid d-block img_5"></a>
                        </div>
                    </div>      
                </div>
                <div class="col-12 col-sm-3 text-white text-center c_10">
                    <h1 class="footer-brand mb-4"><a href="/next/index/" class="text-decoration-none text-white" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><i class="fab fa-bootstrap mr-2"></i><span class="b_2">BHAR</span><span class="b_2">GAV'S</span></a></h1>
                    <p class="text-muted mb-4">our Purpose is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="col-12 col-sm-3 text-white text-center">
                    <h4 class="mb-4">Useful Links</h4>
                    <p class="c_11">
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Coupons</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Blog Post</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Return Policy</a><br>
                        <a href="#google_play" data-toggle="modal" class="text-decoration-none text-muted">Join Affiliate</a>
                    </p>
                </div>
                <div class="col-12 col-sm-3 text-white text-center">
                    <h4 class="mb-4">Follow Us</h4>
                    <p class="c_11">
                        <a href="https://www.facebook.com/bhargav.sonagra" class="text-decoration-none text-muted">Facebook</a><br>
                        <a href="https://twitter.com/BhargavSonagar2" class="text-decoration-none text-muted">Twitter</a><br>
                        <a href="https://www.instagram.com/sonagara_bhargav/" class="text-decoration-none text-muted">Instagram</a><br>
                        <a href="https://www.youtube.com/channel/UC-rA33_DgEXdazJMwTIPaSw" class="text-decoration-none text-muted">Youtube</a><br>
                        <a href="https://www.linkedin.com/in/bhargavsonagara/" class="text-decoration-none text-muted">Linkedin</a>
                    </p>
                </div>
            </div>
            <hr class="hr_2">
            <p class="text-center text-muted p_1 pb-1" style="margin-bottom: -8px">Copyright &copy; 2020 - Designed and Developed by <a href="index.html" class="text-decoration-none text-muted">BHARGAV'S</a></p>
        </div>
    </footer>

    <script>
        flw = document.getElementsByClassName("btn-outline-dark")
        for(var i=0; i<flw.length; i++){
            var btn = flw[i];
            btn.addEventListener("click", function (event){
                var btnClick = event.target;
                if (btnClick.innerText=="Followed"){
                    btnClick.innerText = "Follow";
                }else{
                    btnClick.innerText = "Followed";
                }

            })
        }

        rem = document.getElementsByClassName("text-primary");
        for(var i=0; i<rem.length; i++){
            var btn1 = rem[i];
            btn1.addEventListener("click", function(event){
                var btnClick1 = event.target;
                btnClick1.parentElement.parentElement.remove();
            })
        }


    </script>

    <!--jquery Script Link-->
    <script src="/static/js/jquery-3.5.1.js"></script>
    
    <!--Popper Script Link-->
    <script src="/static/js/popper.js"></script>
    
    <!--Bootstrap JS Script Link-->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html> 
